@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  
}

.ql-editor {
  font-size: 1rem !important;
}

.ql-no-border .ql-container {
  border: none !important;
}

.placeholder-blot {
  background-color: #eef6ff;
  border: 1px dashed #3b82f6;
  padding: 2px 4px;
  border-radius: 4px;
  white-space: nowrap;
  user-select: none;
  font-style: italic;
}

.placeholder-token {
  color: red !important;
  background-color: rgba(255, 0, 0, 0.1) !important;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 4px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
